body {
background: linear-gradient(to bottom left, rgb(197, 197, 197), rgb(137, 218, 255));
background-repeat: no-repeat; /* Prevent the background from repeating */
background-attachment: fixed; /* Fixes the background so content scrolls over it */
background-size: cover; /* Makes sure the background covers the entire viewport */
margin: 0;
font-family: 'Lato', sans-serif;
}

.logoImg {
    width: 4rem;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0rem -0.6rem 1rem 0.1rem;
    margin: auto;
    padding: auto;
}

.POK {
   
}

.Selfie {
    border: 0.3rem solid black;  
}

.grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.grid1 h3 {
    margin: 0rem;
}


/* .OmMegDiv {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0rem;
    padding: 0rem;
}

.grid1 {
    padding: 1rem;
    margin: 0rem;
    
}

.grid1 h4 {
    margin: 0rem;
}

.grid1 p {
    margin: 0.3rem;
} */






@media (min-width: 768px) {
    body {
        background-color: red;
    }
}
