body {
background: linear-gradient(to bottom left, rgb(197, 197, 197), rgb(137, 218, 255));
background-repeat: no-repeat; /* Prevent the background from repeating */
background-attachment: fixed; /* Fixes the background so content scrolls over it */
background-size: cover; /* Makes sure the background covers the entire viewport */
margin: 0;
font-family: 'Lato', sans-serif;
margin-bottom: 1rem;
}

#prosjekterBtn{
    background-color: transparent;
    border: 0;
    font-size: 1.3rem;
}

#kontaktBtn{
    background-color: transparent;
    border: 0;
    font-size: 1.3rem;
}

.logoImg {
    width: 4rem;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0rem -0.6rem 1rem 0.1rem;
    margin: auto;
    padding: auto;
}

#skills {
   margin-top: 1rem;
}
.Me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.Selfie {
    border: 0.3rem solid rgb(0, 25, 48); 
    border-radius: 0.4rem;    
}

.grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.grid1 p {
    margin: 1rem;
    /* text-align: center; */
}

.grid1 h3 {
    margin-top: 2rem;
    margin-bottom: 0;
}

#prosjekter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prosjekter h3{
    margin-bottom: 0;
}

/* .OmMegDiv {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0rem;
    padding: 0rem;
}

.grid1 {
    padding: 1rem;
    margin: 0rem;
    
}

.grid1 h4 {
    margin: 0rem;
}

.grid1 p {
    margin: 0.3rem;
} */






@media (min-width: 768px) {
    body {
        background-color: red;
    }
}
